doctype html
html(lang="en")
	head
		title #{title} &bull; Express Playground
		link(rel="stylesheet", href="/css/base.css")
	body
		header
			h1 Express Playground
		.container
			block content
		footer
			p made by 
				a(href="http://twitter.com/jennschiffer") jenn schiffer